body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.main {
    background-image: url("../img/header-bg.jpeg");
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: darken;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
}

.header-logo img {
    margin-left: 20px;
    margin-right: 20px;
}

.logo-text {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu-link {
    font-weight: 600;
    font-size: 15px;
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.search {
    height: 58px;
    width: 58px;
    background-color: #000000;
}

.search img {
    padding: 21px;
}

.header-call-action {
    padding: 98px;
    text-align: center;
    color: white;
}

.header-call-action-text {
    font-weight: normal;
    font-size: 27px;
    margin: 0 0 15px 0;
}

.btn {
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    width: 170px;
    height: 55px;
    border-style: none;
    color: white;
    cursor: pointer;
}

.subscribe-button {
    background-color: #89CA62;
}

.articles-button {
    background-color: #14B9D5;
}

.container-most-popular {
    background: #F2F2F2;
    display: flex;
    justify-content: center;
}

.section-title {
    text-align: center;
    margin: 0;
    padding: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    color: #14B9D5;
    background-color: #F2F2F2;
}

.section-title2 {
    text-align: center;
    margin: 0;
    padding: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 27px;
    color: #14B9D5;
}

.box-img {
    background-color: #FFFFFF;
    margin-bottom: 30px;
    margin-right: 30px;
}

.most-popular-posts {
    flex-direction: column;
}

.text-bottom-image {
    margin: 0;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.top-clients {
    background-image: url("../img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.client-names {
    display: grid;
    justify-content: center;
    padding: 176px;
    grid-template-rows: repeat(2, 1fr);
}

.clients-name-title {
    text-align: center;
}

.clients-name-title:after {
    content: url("../img/Rectangle1.png");
}

.popular-clients {
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.popular-clients-logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.top-rated {
    display: grid;
    overflow-x: hidden;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
}

.top-rated img {
    width: 100%;
}

.hot-news {
    display: flex;
    justify-content: center;
}

.emirates-spain-container {
    display: grid;
    width: 1168px;
    grid-template-columns: 856px 277px;
    grid-gap: 35px;
}

.emirates-container {
    display: grid;
    grid-template-columns: 483px 374px;
    align-items: center;
    background: #F9F7F7;
}

.description-container {
    padding: 0 18px;
    text-align: end;
}

.description-title {
    font-weight: bold;
    font-size: 18px;
    margin: 15px 0;
    color: black;
}

.description-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    color: #5B6469;
}

.spain-container {
    background: #F9F7F7
}

.description-title-spain {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    color: black;
    text-align: center;
}

.hotel-grid-container {
    display: grid;
    width: 1168px;
    margin-top: 44px;
    margin-bottom: 44px;
    grid-template-columns: repeat(2, 554px);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 40px;
}

.hotel-container {
    background: #F9F7F7;
}

.reverse {
    display: grid;
    width: 1168px;
    grid-template-columns: 277px 856px;
    grid-gap: 35px;
    margin-bottom: 70px;
}

.prism-hotel {
    display: grid;
    width: 1168px;
    grid-template-columns: 277px 856px;
    grid-gap: 35px;
}

.footer {
    display: grid;
    grid-template-rows: 1fr;
    background: black;
    justify-content: center;
}

.footer-grid-container {
    display: grid;
    width: 1168px;
    grid-template-columns: 3fr 1fr;

}

.copyright-text {
    margin: 0;
    padding: 30px 0 30px 0;
    font-weight: normal;
    font-size: 13px;
    color: #FFFFFF;
}

.copyright-logo {
    padding-top: 20px;
    justify-self: self-end;
}

.back-to-top {
    position: fixed;
    right: 15px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #89CA62;
    display: none;
}
.back-to-top:hover,
.back-to-top:focus {
    filter: brightness(1.3);
    outline: none;
}
.back-to-top::before,
.back-to-top::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.back-to-top::before{
    width: 5px;
    height: 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #FFFFFF;
}

.back-to-top::after {
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 5px solid #FFFFFF;
    border-left: 5px solid #FFFFFF ;
}

.slide-toggle {
    outline: none;
    border: none;
    background-color: #89CA62;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 3px;
    margin-top: 5px;
    margin-left: 48%;
    border-radius: 3px;
}


